@charset "utf-8";
%opa{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100001;
  background: rgba(0, 0, 0, 0.5);
}
%btn_comsty{
  @include px2rem(height, 90);
  @include px2rem(line-height, 90);
  background: none;
  @include font-dpr(30);
  color: #008AD3;
  width: 100%;
  display: block;
  border: 0;
  outline: none;
}

.pop_box{
  .opa{
    @extend %opa;
  }
}
.tip-cont{
  @include px2rem(margin, 0 68);
  background: #f5f5f5;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 10000111;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  @include px2rem(border-radius, 20);
  .p_txt{
    @include px2rem(padding-top, 34);
    @include font-dpr(30);
    line-height: 1.5;
  }
  .state{
    display: block;
    @include px2rem(padding, 20);
    @include font-dpr(26);
    line-height: 1.5;
  }
}
.btn-cont{
  border-top: 1px solid #dddddd;
  a{
    @extend %btn_comsty;
    border-right: 1px solid #dddddd;
    &:last-child{
      border-right: 0;
    }
  }
}
